td {
    width:50px;
    height:50px;
    padding:10px;
    border:1px solid black;
}
.disabled {
    background-color:#ccc;
}
.weapon{
    background-color:teal;
}
.player1{
    background-image: url("../src/players/player1.svg");
}
.player2{
    background-image: url("../src/players/player2.svg");
}
.bat{
    background-image: url("../src/weapons/bat.svg");
    background-size: cover;
}
.sword{    
    background-image: url("../src/weapons/sword.svg");
    background-size: cover;
}
.pistol{
    background-image: url("../src/weapons/pistol.svg");
    background-size: cover;
}
.bomb{
    background-image: url("../src/weapons/bomb.svg");
    background-size: contain;
}
